---
import Calendar from "@icons/Calendar.astro";
---

<div id="table" class="select-none">
  <div id="table-head">
    <div id="table-row" class="grid grid-cols-4 border-b-[1px] border-white">
      <span>#</span>
      <span>Nombre</span>
      <span>Numero canciones</span>
      <span><Calendar /></span>
    </div>
  </div>
  <div id="table-body" class="max-h-[70vh] overflow-y-scroll">
    <slot />
  </div>
</div>
<style>
  span {
    padding: 0.5rem
  }
</style>