---
import Layout from "@layouts/Layout.astro"
---
<Layout title="Web flavour of Euterpe.ars">
  <div class="p-4 rounded-xl flex flex-col gap-4">
    <h1 class="text-xl">Inicio</h1>
  </div>
</Layout>