---
import Layout from "@layouts/Layout.astro"

import { PlayListsAPI } from "@controllers/playlist"
import PlayListTable from "@components/tables/PlayListsTable.astro"

const playLists = await PlayListsAPI.GET.all()
---

<Layout title="Euterpe.ars - Listas de reproducción">
  <div class="p-4 rounded-xl flex flex-col gap-4">
    <h1 class="text-xl">Listas de reproduccion</h1>
    <PlayListTable>
      {playLists.map(playlist => (
        <a href={"/playlists/" + playlist.id}>
          <div class="grid grid-cols-4 hover:bg-gray-50 hover:bg-opacity-30">
            <span>{playlist.id}</span>
            <span>{playlist.name}</span>
            <span>{playlist.size} {playlist.size > 1 ? "canciones" : "cancion"}</span>
            <span>{playlist.created_at || "BRUH"}</span>
          </div>
        </a>
      ))}
    </PlayListTable>
  </div>
</Layout>

<style>
  span {
    padding: 0.5rem
  }
</style>