---
import { PlayListsAPI } from "@controllers/playlist"

import PlusIcon from "@components/svgs/astro/PlusIcon.astro"
import PlaylistAsideCard from "./PlaylistAsideCard"
import DialogForm from "./DialogForm.astro"

const playlists = await PlayListsAPI.GET.all()
---
<aside class="bg-[#242424] flex-grow p-6 rounded-xl">
  <div class="flex flex-row items-center">
    <h1 class="text-xl font-semibold">Tu biblioteca</h1>
    <button
      title="Añade una lista de canción"
      class="ml-auto p-1 hover:rounded-3xl hover:bg-gray-950 hover:bg-opacity-30"
      id="open-modal-button"
      transition:persist
    >
      <PlusIcon />
    </button>
  </div>
  <div class="flex flex-col gap-2 mt-2">
    {playlists.map((playlist) => (
      <PlaylistAsideCard
        pl={playlist}
        songsCount={playlist.size}
        client:only="react"
      />
    ))}
  </div>
  <!-- The dialog must persist because the open button will lose the event on every transition -->
  <dialog open={false} class="p-20 rounded-xl text-white bg-[#242424]" transition:persist>
    <DialogForm />
  </dialog>
</aside>
<script>
  import { isModalOpen } from "@nano/modal"

	const buttonOpenDialog = document.getElementById("open-modal-button")
  const dialog = document.querySelector("dialog")

  buttonOpenDialog?.addEventListener("click", () => isModalOpen.set(!isModalOpen.get()))

  isModalOpen.subscribe(isOpened => isOpened ? dialog?.showModal() : dialog?.close())
</script>